<h1>Logging</h2>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "Email" %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
      <%= f.submit "Logging In" %>
  </div>
<% end %>

<p>New User? <%= link_to "Register Now!", signup_path %></p>
